#page_header{
	position: fixed;
	top: 0%;
	left: 0%;
	height: 40px;
	width: 100%;
	border-bottom: thin solid #606060;
	background: #404040;
}

#input_connection{
	position: absolute;
	width: 75%;
	height: 100%;
	border-right: thin solid #606060;	
}

#input_IP{
	position: absolute;
	left: 2%;	
}

#input_username{
	position: absolute;
	left: 13%;	
}

#btn_connect{
	position: absolute;
	width: 10%;
	top: 7px;
	left: 24%;
}

#contact_info{
	position: absolute;
	width: 75%;
	height: 100%;
	border-right: thin solid #606060;
}

#user_info{
	position: absolute;
	right: 0%;
	width: 25%;
	height: 100%;
}

#page_header h1{
	text-align: center;
	margin: 8px 0% 0% 0px;
	color: #f0f0f0;
	font: bold italic 110% Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

span.italic_text {
	color: #909090;
	font: italic 80% Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

#page_body{
	position:absolute;
	top: 40px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
}

#messages_field {
	position: fixed;
	top: 40px;
	bottom: 55px;
	width: 75%;
	border-top: thin solid #606060;
	border-bottom: thin solid #606060;
	border-right: thin solid #606060;
	background: #202020;
	overflow-y: scroll;
}

#chat_input_block {
	position: fixed;
	bottom: 0%;
	height: 55px;
	width: 75%;
	border-top: thin solid #606060;
	background: #404040;
}

#inpt_mes {
	position: absolute;
	height: 25px;
	width: 95%;
	top: 15px;
	left: 2%;
	border: thin solid #606060;
	background: #606060;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; 
}

#btn_ok {
	position: absolute;
	top: 15px;
	right: 2%;
}

div.outcoming_message{
	right: 0%;
	float: right;
	clear: both;
	margin: 5px 5px 5px 5px;
	padding: 5px 8px 5px 8px;
	background-color: #606060;
	color: #F0F0F0;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	max-width: 50%;
}

div.incoming_message{
	left: 0%;
	float: left;
	clear: both;
	margin: 5px 5px 5px 5px;
	padding: 5px 8px 5px 8px;
	background-color: #606060;
	color: #F0F0F0;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	max-width: 50%;
}

div.service_message{
	margin-left: 2%;
	margin-top: 5px;
	float: center;
	clear: both;
	/*left: 2%;*/
    color: #FA8072;
    font: italic 100% Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

#contact_menu{
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 25%;
	border-top: thin solid #606060;
	background: #404040;
	border-left: thin solid #606060;
}
div.contact_block_style{
	float: right;
	clear: both;
	position: relative;
	width: 100%;
	height: 40px;
	border-bottom: thin solid #606060;
	border-left: thin solid #606060;
	background: #404040;
	overflow: hidden;
}
#contact_menu h1{
	position: absolute;
	margin: 8px 0% 0% 10px;
	color: #f0f0f0;
	font: 100% Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

button.buttons{
	height: 25px;
	border: thin solid #606060;
	background: #606060;
	color: #202020;
	font: 100% Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

input.start_input_fields{
	height: 25px;
	width: 10%;
	top: 7px;
	border: thin solid #606060;
	background: #606060;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; 
}